{{#if isLog}}
    <button class="border-2 border-grey-400 py-2 px-4 rounded-md" id="cerrarSesion">Cerrar sesión</button>
{{/if}}
<h1>Bienvenido {{user.email}}</h1>
<script src="/js/profile.js"></script>